Header {
    height: 1;
    dock: top;
}

Footer {
    height: 1;
    dock: bottom;
}

ListView {
    width: 2fr;
    height: 1fr;
    margin: 1;
    padding: 1 1;
    content-align: center middle;
    border: round $panel;
    border-title-color: $primary-darken-2;
    background: $background;
}

ListView:focus {
    background: $background 0%;
    border-title-color: $primary;
    border: round $primary;
}

ListItem {
    height: 3;
    width: auto;
    padding: 1 1;
    content-align: center middle;
}

Label {
    width: 1fr;
    height: 1fr;
    text-align: center;
    content-align: center middle;
}

Tabs {
    content-align: center middle;
    margin: 1;
    height: 100%;
}

Tab {

}

Center {
    width: 3.5fr;
    margin: 1 1;
    height: 1fr;
    border: round $panel;
    border-title-color: $primary-darken-2;
}

Center:focus-within {
    border: round $primary;
    border-title-color: $primary;
}